#login {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  background-color: rgb(48, 66, 106);

  .form {
    background: #eee;
    margin-top: 20%;
    padding: 20px;
    border-radius: 7px;
  }
}