<div class="row users">
    <div class="col-lg-12">
        <rd-widget>
            <rd-widget-body classes="no-padding">
                <div class="col-lg-offset-11">
                    <button class="btn btn-default" ng-click="vm.addUser()">Добавить</button>
                </div>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <td class="photo">Фото</td>
                            <td class="name">Имя</td>
                            <td class="surname">Фамилия</td>
                            <td class="phone">Телефон</td>
                            <td class="access">Доступ</td>
                            <td class="menu">Меню</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="user in vm.users track by $index">
                            <td class="photo">
                                <img ng-src="{{user.photo}}" alt="{{user.name + ' ' + user.surname}}">
                            </td>
                            <td ng-if="!user.edit" class="name">
                                {{user.name}}
                            </td>
                            <td ng-if="!user.edit" class="surname">
                                {{user.surname}}
                            </td>
                            <td ng-if="!user.edit" class="phone">
                                {{user.phone}}
                            </td>
                            <td ng-if="!user.edit" class="access">
                                {{user.admin?'Админ':'Пользователь'}}
                            </td>

                            <td ng-if="user.edit" class="name">
                                <input type="text" ng-model="user.name">
                            </td>
                            <td ng-if="user.edit" class="surname">
                                <input type="text" ng-model="user.surname">
                            </td>
                            <td ng-if="user.edit" class="phone">
                                <input type="tel" ng-model="user.phone">
                            </td>
                            <td ng-if="user.edit" class="access">
                                <select ng-model="user.admin" ng-cloak>
                                    <option ng-value="true">Админ</option>
                                    <option ng-value="false">Пользователь</option>
                                </select>
                            </td>

                            <td class="menu">
                                <i ng-hide="user.edit" ng-click="user.edit = !user.edit"
                                   class="glyphicon glyphicon-pencil"></i>
                                <i ng-hide="user.edit" ng-click="vm.deleteUser(user)"
                                   class="glyphicon glyphicon-remove"></i>
                                <i ng-show="user.edit" ng-click="vm.saveInfo(user)"
                                   class="glyphicon glyphicon-save"></i>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </rd-widget-body>
        </rd-widget>
    </div>
</div>
