<div class="row news">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-offset-10 col-lg-2">
                <button class="btn btn-default" ng-click="vm.addNews()">
                    Добавить
                </button>
            </div>
        </div>
        <div class="row card" ng-repeat="news in vm.news | orderBy:'$index':true track by $index">
            <div class="del" ng-click="vm.deleteNews(news)">
                <i class="glyphicon glyphicon-remove"></i>
            </div>
            <span ng-if="!news.edit" ng-click="news.edit = !news.edit">
                <div class="photo">
                    <img ng-src="{{news.photo}}">
                </div>
                <div class="title">{{news.title}}</div>
                <div class="date">{{news.createdAt | date : 'dd.MM.yyyy HH:mm:ss'}}</div>
                <div class="text">{{news.text}}</div>
            </span>

            <span ng-if="news.edit">
                <div class="photo">
                    <img ngf-thumbnail="vm.data.file" width="400" height="250" alt="Image preview..."> <br>
                    <button class="btn btn-default" ngf-select ng-model="vm.data.file" name="file" ngf-max-size="20MB" ngf-min-height="100">Select
                    </button>
                </div>
                <div class="title">
                    <input type="text" ng-model="news.title">
                </div>
                <div class="text">
                    <textarea rows="5" ng-model="news.text"></textarea>
                </div>
                <div class="col-lg-offset-4 col-lg-4">
                    <button class="btn btn-default btn-block" ng-click="vm.saveInfo(news)">
                        Сохранить
                    </button>
                </div>
            </span>
        </div>
    </div>
</div>
